*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'poppins',sans-serif;
    font-size: 18px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}
.contener{
    width: 500px;
    padding: 30px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: #003b5b;

}
h4{
    margin-bottom: 10px;
    font-size: 24px;
    color: white;

}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
textarea{
    width: 100%;
    padding: 10px;
    color: rgb(72, 58, 129);
    width: 200px;

}